doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./reset.styl")
        link(rel="stylesheet", href="./styles.styl")
        link(rel="shortcut icon", href="./icons/layout.svg", type="image/x-icon")
        title Admin-Dashboard
    body
        .wrapper
            section.sidebar
            section.main
