doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./reset.styl")
        link(rel="stylesheet", href="./styles.styl")
        link(rel="shortcut icon", href="icons/dashboard.svg", type="image/x-icon")
        title Admin-Dashboard
    body
        .wrapper
            section.sidebar
                .sidebar__main
                    a.logo(href="http://") Dashboard
                    nav.navigation
                        ul.navigation__items
                            li.navigation__item.navigation__item--home Home
                            li.navigation__item.navigation__item--profile Profile
                            li.navigation__item.navigation__item--messages Messages
                            li.navigation__item.navigation__item--history History
                            li.navigation__item.navigation__item--tasks Tasks
                            li.navigation__item.navigation__item--communities Communities
                            li.navigation__item.navigation__item--settings Settings
                            li.navigation__item.navigation__item--support Support
                            li.navigation__item.navigation__item--privacy Privacy
                .sidebar__footer
                    a.link.link--github(href="https://github.com/pav-nk", target="_blank", rel="noopener noreferrer") Github
            section.main
                header.header
                    .header__form
                        form.form
                            input.search-field(type="text" id="search" value="" placeholder="enter your request")
                    .header__profile
                        span.icon.icon--profile
                        img.avatar.avatar--sm(src="./icons/avatar-batman.svg", alt="avatar")
                        h3.name.name--sm Morgan Oakley
                    .header__user
                        img.avatar.avatar--md(src="./icons/avatar-batman.svg", alt="avatar")
                        .header__user-text
                            span Hi there,
                            h3.name.name--md Morgan Oakley (@morgan)
                    .header__menu
                        button.button(type="button") New
                        button.button(type="button") Upload 
                        button.button(type="button") Share
                div.content
                    .projects
                        h2.title Your projects
                        .projects__field
                            .card.projects__card
                                h3.card__title Super Cool Projects
                                p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores commodi distinctio, debitis ratione dicta nihil tempora amet.
                                .card__navigation
                                    span.icon.icon--star
                                    span.icon.icon--eye
                                    span.icon.icon--branch
                            .card.projects__card
                                h3.card__title Super Cool Projects
                                p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores commodi distinctio, debitis ratione dicta nihil tempora amet.
                                .card__navigation
                                    span.icon.icon--star
                                    span.icon.icon--eye
                                    span.icon.icon--branch
                            .card.projects__card
                                h3.card__title Super Cool Projects
                                p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores commodi distinctio, debitis ratione dicta nihil tempora amet.
                                .card__navigation
                                    span.icon.icon--star
                                    span.icon.icon--eye
                                    span.icon.icon--branch
                            .card.projects__card
                                h3.card__title Super Cool Projects
                                p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores commodi distinctio, debitis ratione dicta nihil tempora amet.
                                .card__navigation
                                    span.icon.icon--star
                                    span.icon.icon--eye
                                    span.icon.icon--branch
                            .card.projects__card
                                h3.card__title Super Cool Projects
                                p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores commodi distinctio, debitis ratione dicta nihil tempora amet.
                                .card__navigation
                                    span.icon.icon--star
                                    span.icon.icon--eye
                                    span.icon.icon--branch
                            .card.projects__card
                                h3.card__title Super Cool Projects
                                p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                .card__navigation
                                    span.icon.icon--star
                                    span.icon.icon--eye
                                    span.icon.icon--branch
                    .announcements
                        h2.title Your announcements
                        ul.announcements__items
                            li.announcements__item
                                h3.announcements__title Site maintenance
                                p.announcements__description Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            li.announcements__item
                                h3.announcements__title Site maintenance
                                p.announcements__description Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            li.announcements__item
                                h3.announcements__title Site maintenance
                                p.announcements__description Lorem, ipsum dolor sit amet consectetur adipisicing elit.

                    .trending
                        h2.title Your trending
                        ul.trending__items
                            li.trending__item
                                img.avatar.avatar--sm(src="./icons/avatar-batman.svg", alt="avatar")
                                .trending__item-content
                                    h3.trending__name @morgan
                                    p.trending__description Super Cool Project
                            li.trending__item
                                img.avatar.avatar--sm(src="./icons/avatar-ozzy.svg", alt="avatar")
                                .trending__item-content
                                    h3.trending__name @kendall
                                    p.trending__description Life Changing App
                            li.trending__item
                                img.avatar.avatar--sm(src="./icons/avatar-joker.svg", alt="avatar")
                                .trending__item-content
                                    h3.trending__name @tegan
                                    p.trending__description World Peace Builder
                            li.trending__item
                                img.avatar.avatar--sm(src="./icons/avatar-bad.svg", alt="avatar")
                                .trending__item-content
                                    h3.trending__name @alex
                                    p.trending__description No Traffic Maker

